
*{margin: 0; padding: 0;}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),url("bg.jpg");
    background-position: center;
    background-size: cover;
}
.logo{
    width: 120px;
}
.nav{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    
}
.menu ul {
    list-style-type: none;
}
.menu ul  li {
    display: inline-block;
    margin: 0 10px;
    background:rgba(4,50,0,.15);
    padding: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.menu ul  li a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.menu ul  li::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left:0;
    background: #009880;
    transition: all .3s ease;
}
.menu ul  li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
   
}
.content h2{
    color: #fff;
    font-size: 70px;
}

.content > p{
    color: #eee;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}

button{ 
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    border: 2px solid #009880;
    position: relative;
    overflow: hidden; 
    font-weight: bold;
}
button:hover{
    border:none;
    
}
span{
    width:100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left:0%;
    background: #009880;
    border-radius: 5px;
    z-index: -1;
    transition: all .3s ease;
}

button:hover span{
   height: 100%;
}

/*---design---*/

.design{
    width:80%;
    margin: auto;
    padding-top:50px;
    text-align: center;
}

.design-div{
    background-color:#eee;
    padding: 10px;
    margin-bottom: 30px;
}

.design h2{
    font-size: 50px;
    font-weight: 500;
}
.design  .p {
    color:#777;
    padding: 10px;
    margin-bottom: 10px;
}
.row{
    width:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.design-col{
    flex-basis: 31%;
    padding: 10px 15px;; 
    background-color:beige;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all .5s;
  
}
.design-col h3{
    text-transform: uppercase;
    color:#009880;
    font-size: 25px;
    padding-bottom: 10px;
}
.design-col p{
    color: #777;
    font-size: 18px;
     text-align: justify;
}
.design-col:hover{
    box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.38);
   }
.office{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.office h3{
    font-size: 50px;
    font-weight: 500;
}
.office  .p {
    color:#777;
    padding: 10px;
    
}
.office-col{
    flex-basis: 32%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.office-col img{
   width: 100%;
}
.layer{
    background:transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
}

.layer:hover{
     background: rgba(0,0,224,.7);
    cursor: pointer;
}


.layer h3{
    width: 100%;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}


.layer:hover h3{
    
    bottom: 49%;
    opacity: 1;
   
}

.design h3{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    
    
}
.design h4{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.design  p {
    color:#777;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.facilities-col{
    flex-basis: 31%;
   border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    background-color: bisque;
    position: relative;
}

.facilities-col img {
    width: 100%;
    border-radius: 5px;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 5px;
    margin-bottom: 50px;
    text-align: left;
    background-color: bisque;
    position: relative;
  
}
.testimonial-col img{
    height: 40px;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 30px;
    padding: 5px;
}
.testimonial-col P{
    color: #777;
    margin-bottom: 0px;
    text-align: left;

}
.testimonial-col h4{
    text-align: left;
    padding: 0 10px;
}
.testimonial-col .fa-star  {
    color: #f44336;
    margin: 5px;
    font-size: 20px;
    padding: 5px 0;
}
.cta{
    width:80%;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),url("banner2.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    border-radius: 10px;
}
.cta h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 50px;
}
.btn{
    width: 120px;
    display: block;
    padding: 20px 50px;
    background:transparent;
    text-decoration: none;
    margin: auto;
    color: #fff;
    font-weight: bold;
    border: 2px solid #009880;
    border-radius: 5px;
    transition: all .5s;
    
    
}
.btn:hover {
    background: #009880;
    
}
#footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

#footer h4{
    font-size: 50px;
    font-weight: 500;
}

#footer .v{
    font-size: 18px;
    padding-bottom: 20px;
}

.icons  {
    color:brown;
    cursor: pointer;
   
}






